/* :root {
  font-size: 16px;
}

@media (max-width: 1440px) {
  :root {
    font-size: 14px;
  }
} */

/* 去除默认样式的内外边距 */
body {
  margin: 0;
  padding: 0;

  font-family: "HarmonyOS Sans SC", "Microsoft YaHei", "PingFang SC", "Hiragino Sans GB", sans-serif;
  -webkit-font-smoothing: antialiased;
}